<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container navbar-fixed-bottom"><div class="container-fluid">
  <div class="container" style="width:1.95in;">
    <div class="dropup">
      <div class="panel" data-toggle="collapse" href="#collapse1" style="background-color:#7e3e98;">
        <div class="panel-heading" style= "height:1.2in;">
          <h4 class="panel-title" style="text-align: center;">
            <p class="text" style="font-family: Comic Sans MS; font-size:24px; color: black; line-height: 80px;">Fouls</p>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <ul class="list-group">
            <a href="#" class="list-group-item" style="background-color: white; height:.94in;"></a>
            <a href="#" class="list-group-item" style="background-color: yellow; height:.94in;"></a>
            <a href="#" class="list-group-item" style="background-color: red; height:.94in;"></a>
            <a href="#" class="list-group-item" style="background-color: black; height:.94in;"></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
    
</body>
</html>