<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <title>Galactic Saber Match Scoring</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      height: 10vh;
    }
    .scoreButton {
      background-color: #000000;
      color: white;
      border: 1px, solid, white;
    }
    
    .column {
      float: left;
      width: 18.75%;
      height: 100vh;
      padding: 10px;
      background-color: #4D578E;
    }

    .scoreColumn {
      float: left;
      width: 18.75%;
      height: 100vh;
      padding: 10px;
      background-color: #000000;
    }

    .middleColumn {
      float: left;
      width: 25%;
      height: 100vh;
      padding: 10px;
    }

    /* Clear floats after the columns */
    .row {
      height: 100%;
      display: table;
      clear: both;
    }
    .imageMinus {
      background-image: url();
      background-size: contain;
    }

  </style>
</head>
<body>

  <div class="row">
    <div class="scoreColumn" style="background-color:rgb(0, 0, 0);
    color:lavender">
      <container height="25%"><h1 id="p1score" style="text-align: center; font-family: Impact; font-size: 6em; color: #7e3e98;">00</h1></container>
      <button type="button" onclick="p1Plus(5)" class="btn btn-primary scoreButton" style="height: 25%; width: 100%; ">Head or Torso</button>
      <button type="button" onclick="p1Plus(3)" class="btn btn-primary scoreButton" style="height: 25%; width: 100%; ">Arms or Legs</button>
      <button type="button" onclick="p1Plus(1)"class="btn btn-primary scoreButton" style="height: 25%; width: 100%; ">Hands or Hilt </button>
    </div>

    <div class="column" style="background-color:#4D578E;">
      <h2>Player One</h2>

      <button type="button" class="btn btn-primary" style="height:10%; width:48%;"></button>
      <button type="button" class="btn btn-primary" style="height:10%; width:48%;"> <img src="/static\matchscoring\images\buttonPlus.png" alt="plus button"></button>
      
      <!-- heres the foul code -->
      <div class="dropup" style=" width:100%; top: 10px;">
        <div class="panel" data-toggle="collapse" href="#collapse2" style="background-color:#7e3e98;">
          <div class="panel-heading">
            <h4 class="panel-title" style="text-align: center;">
              <p class="text" style="font-family: Comic Sans MS; color: black;">Fouls</p>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <ul class="list-group">
              <a href="#" class="list-group-item" style="background-color: white; height:14vh;"></a>
              <a href="#" class="list-group-item" style="background-color: yellow; height:14vh;"></a>
              <a href="#" class="list-group-item" style="background-color: red; height:14vh;"></a>
              <a href="#" class="list-group-item" style="background-color: black; height:14vh;"></a>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="middleColumn" style="background-color:#ccc;">
      <button type="button" class="btn btn-primary"> <img src="/static\matchscoring\images\buttonPlay.png" alt="playButton"></button>
      <button type="button" class="btn btn-primary"> <img src="/static\matchscoring\images\buttonPause.png" alt="pauseButton"></button>
      
      <img src="\static\matchscoring\images\GSLogo.png" height=100% width = 100% alt="Poggers Redux Image">
      
      <button type="button" class="btn btn-primary"> <img src="/static\matchscoring\images\image.png" alt="endButton"></button>
      
    </div>

    <div class="column" style="background-color:#4D578E;">
      <h2>Player Two</h2>

      <button type="button" class="btn btn-primary"style="height:10%; width:48%;"> <img src="/static\matchscoring\images\buttonPlus.png" alt="playButton"></button>
      <button type="button" class="btn btn-primary"style="height:10%; width:48%;"> <img src="/static\matchscoring\images\buttonMinus.png" alt="pauseButton"></button>
      
      <!-- heres the foul code -->
      <div class="dropup" style=" width:100%; top: 10px;">
        <div class="panel" data-toggle="collapse" href="#collapse1" style="background-color:#7e3e98;">
          <div class="panel-heading">
            <h4 class="panel-title" style="text-align: center;">
              <p class="text" style="font-family: Comic Sans MS; color: black;">Fouls</p>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
              <a href="#" class="list-group-item" style="background-color: white; height:14vh;"></a>
              <a href="#" class="list-group-item" style="background-color: yellow; height:14vh;"></a>
              <a href="#" class="list-group-item" style="background-color: red; height:14vh;"></a>
              <a href="#" class="list-group-item" style="background-color: black; height:14vh;"></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="scoreColumn" style="background-color:rgb(0, 0, 0);
    color:lavender">
      <h1 id="p2score" style="text-align: center; font-family: Impact; font-size:72px; color: #7e3e98;">00</h1>

      <button type="button" onclick="p2Plus(5)" class="btn btn-primary scoreButton" style="height: 25%; width: 100%; ">Head or Torso</button>
      <button type="button" onclick="p2Plus(3)" class="btn btn-primary scoreButton" style="height: 25%; width: 100%; ">Arms or Legs</button>
      <button type="button" onclick="p2Plus(1)" class="btn btn-primary scoreButton" style="height: 25%; width: 100%; ">Hands or Hilt </button>

    </div>
  </div>

  <script>
    var playerOneScore=00
    var playerTwoScore=00
    function p1Plus(amount) {
        playerOneScore+= amount;
        document.getElementById('p1score').innerHTML= playerOneScore;
    }
    function p2Plus(amount) {
        playerTwoScore+= amount;
        document.getElementById('p2score').innerHTML= playerTwoScore;
    }

  </script>
  
</body>
</html>
