
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create five equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  height: 100%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  height: 600;
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Match Scoring</h2>

<div class="row">
  <div class="column" style="background-color:rgb(5, 1, 1);
  color:lavender">
    <h2>Column 1</h2>
    <p>Some text..</p>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="column" style="background-color:#4D578E;">
    <h2>Column 2</h2>
    <p>Some text..</p>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="column" style="background-color:#ddd;">
    <h2>Column 4</h2>
    <p>Some text...</p>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="column" style="background-color:rgb(12, 1, 1);
  color:lavender">
    <h2>Column 5</h2>
    <p>Some text..</p>
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</div>

</body>
</html>
