body{
    background-color: #4d578e;

}
button.imageButton {
    width: 100%;
}

.column {
    float: left;
    width: 18.75%;
    height: 100%;
    padding: 10px;
    background-color: #4D578E;
}

.scoreColumn {
    float: left;
    width: 18.75%;
    height: 100%;
    padding: 10px;
    background-color: #000000;
}

.middleColumn {
    margin: auto;
    float: left;
    width: 25%;
    height: 100%;
    padding: 10px;
}


/* Clear floats after the columns */
.row:after {
    height: 100%;
    content: "";
    display: table;
    clear: both;
}
.giantNumbers {
    margin: auto;
    color: #7e3e98;
    background-color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}